{% extends 'hivo_base.html' %}
{% block title %}Ervinizmus - Hívő{% endblock %}
{% block hivovevalas_a%}{% endblock %}


{% block content %}

<h1>Bejelentkezett!</h1>
<h2>Ön egy hívő</h2>

<div class="minden">
    <space style="width: 20px;"></space>

    <div id="chat-box" class="chat-box">
        <center><h1>Beszélgetés</h1></center>
        <ul class="messages" id="messages">
            
            {% for item in in_one %}
                <div class="msg">{{ item[0] }}</div>
            {% endfor %}
            
        </ul>
        <form action="/hivo/send_message" method="post"><center class="user_form lent"><input type="text" placeholder="Üzenet" name="message" class="send_message_field"> <button class="admin_button">Küldés</button></center></form>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
</div>


<a href="/admin/log_out">Kijelentkezés</a>

{% endblock %}