{% extends 'admin/admin_base.html' %}
{% block title %}Ervinizmus - Bejelentkezés{% endblock %}
{% block hivovevalas_a%}{% endblock %}

{% block content %}

<h1>Bejelentkezett: {{ user }}!</h1>


<div class="minden">
    <space style="width: 20px;"></space>

    <div class="chat" id="chat-box" class="chat-box">
        <center><h1>Beszélgetés</h1></center>
        <ul class="messages">
            {% for minden in in_one%}
                {{minden[0]}} <a href="/admin/del_msg/{{ minden[0] }}" style="color: red;">(Törlés)</a><br>
            {% endfor %}
            
            
        </ul>
        <form action="/admin/send_message" method="post"><center class="user_form lent"><input type="text" placeholder="Üzenet" name="message"> <button class="admin_button">Küldés</button></center></form>
    </div>
</div>


<a href="/admin/log_out">Kijelentkezés</a>

{% endblock %}
