{% extends 'admin/admin_base.html' %}
{% block title %}Ervinizmus - Bejelentkezés{% endblock %}
{% block hivovevalas_a%}{% endblock %}

{% block content %}

<h1>Bejelentkezett: {{ user }} (Admin)!</h1>



<div class="minden">
    <space style="width: 20px;"></space>

    <div class="container-xl" id="chat-box" class="chat-box">
        <center>
            <h1>Beszélgetés</h1>
        </center>


        <style>
            .messages {
                height: 400px;
                overflow-y: scroll;
            }
        </style>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const scrollDiv = document.getElementById('msgs');
                if (scrollDiv) {
                    scrollDiv.scrollTop = scrollDiv.scrollHeight;
                }
            });
        </script>


        <ul class="messages" id="msgs">
            <div class="message">
                {% for in_one, minden in rendes.items() %}
                {% if minden[0] == "Dani" %}
                <div class="row bg-body-secondary m-1 rounded-2">
                    <b><i style="color: darkorange;">{{ minden[0] }}</i></b>
                    <p class="ml-2" style="margin-left: 10px; width: fit-content;">{{ minden[1] }}</p>
                    <div class="float-md-end" style="display: flex; flex-direction: column; margin-top: -50px;"><p style="align-self: flex-end;">{{ minden[2] }}</p></div> <br>
                    <a href="/admin/del_msg/{{ in_one }}" style="color: red; margin-top: -30px;">Törlés</a>
                </div>
                
                {% else %}
                <div class="row bg-body-secondary m-1 rounded-2">
                    <b>{{ minden[0] }}</b>
                    <p class="pl-2" style="margin-left: 10px; width: fit-content;">{{ minden[1] }}</p>
                    <div class="float-md-end" style="display: flex; flex-direction: column; margin-top: -50px;"><p style="align-self: flex-end;">{{ minden[2] }}</p></div> <br>
                    <a href="/admin/del_msg/{{ in_one }}" style="color: red; margin-top: -30px;">Törlés</a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </ul>
        <form action="/admin/send_message" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Üzenet:</span>
                <input type="text" class="form-control" placeholder="" aria-label="Username"
                    aria-describedby="basic-addon1" name="message">
            </div>
            <button class="btn btn-secondary">Küldés</button>
        </form>
    </div>
</div>


<a href="/admin/log_out" class="btn btn-danger">Kijelentkezés</a>

{% endblock %}