{% extends 'admin/admin_base.html' %}
{% block title %}Ervinizmus - Szövegszerkesztés{% endblock %}
{% block hivovevalas_a%}{% endblock %}

{% block content %}
<div class="teremtes">

    <form action="/admin/edit_text" action="/admin/test" method="post">
        <div class="container-xl">
            <a href="/admin/szoveg_szerkesztes_page#teremtes" class="btn btn-link">Teremtés</a>
            <a href="/admin/szoveg_szerkesztes_page#fo_oldal" class="btn btn-link">Fő oldal</a>
            <a href="/admin/szoveg_szerkesztes_page#miatyank" class="btn btn-link">Miatyánk</a>
            <a href="/admin/szoveg_szerkesztes_page#tiz_parancsolat" class="btn btn-link">10 parancsolat</a>
            <a href="/admin/szoveg_szerkesztes_page#keletkezes" class="btn btn-link">Keletkezés</a>
            <div id="teremtes">
                <h3>Teremtés:</h3>
                <textarea type="text" name="teremtes" class="form-control"
                    style="max-height: 600px; min-height: 200px;">{{ teremtes }}</textarea>
            </div>
            <hr>
            <div id="fo_oldal">
                <h3>Fő oldal</h3>
                <textarea type="text" name="fo_oldal" class="form-control"
                    style="max-height: 600px; min-height: 200px;">{{ fo_oldal }}</textarea>
            </div>
            <hr>
            <div id="miatyank">
                <h3>Miatyánk</h3>
                <textarea type="text" name="miatyank" class="form-control"
                    style="max-height: 600px; min-height: 200px;">{{ miatyank }}</textarea>
            </div>
            <hr>
            <div id="tiz_parancsolat">
                <h3>10 parancsolat</h3>
                <textarea type="text" name="tiz_parancsolat" class="form-control"
                    style="max-height: 600px; min-height: 200px;">{{ tiz_parancsolat }}</textarea>
            </div>
            <hr>
            <div id="keletkezes">
                <h3>Keletkezés</h3>
                <textarea type="text" name="keletkezes" class="form-control"
                    style="max-height: 600px; min-height: 200px;">{{ keletkezes }}</textarea>
            </div>
            <button class="btn btn-success">Szerkesztés</button>
        </div>
    </form>
    <div class="container-xl">
        <form action="/admin/eredeti">
            <button class="btn btn-secondary">Eredeti szöveg visszaállítása</button>
        </form>
        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here’s some amazing content. It’s very engaging. Right?">Legyen eredeti</button>
        <form action="/admin/add_eredeti">
            <button class="btn btn-danger"
                title="Ez a gomb a jelenlegi módosított szöveget alapértelmezettre állítja!">Legyen eredeti.</button>
        </form>

    </div>
    <a href="/admin/log_out">Kijelentkezés</a>

    {% endblock %}