{% extends 'admin/admin_base.html' %}
{% block title %}Ervinizmus - Bejelentkezés{% endblock %}
{% block hivovevalas_a%}{% endblock %}

{% block content %}

<body>
    <h1>Felhasználónév megváltoztatása</h1>
    <form action="/admin/change_name" method="post">
        <input placeholder="Új felhasználónév" type="text" name="new_name" class="admin_input" id=""><br>
        <input type="submit" value="Módosítás">
    </form>
    <h1>Jelszó megváltoztatása</h1>
    <form action="/admin/change_password" method="post">
        <input placeholder="Régi jelszó" type="password" name="old_password" id="" class="admin_input"><br>
        <input placeholder="Új jelszó" type="password" name="new_password" id="" class="admin_input"><br>
        <input type="submit" value="Módosítás">
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    
</body>

{% endblock %}