{% extends 'admin/admin_base.html' %}
{% block title %}Ervinizmus - Bejelentkezés{% endblock %}
{% block hivovevalas_a%}{% endblock %}

{% block content %}
<div class="teremtes">
    <h4></h4>
    <form action="/admin/edit_text" method="post">
        <textarea type="text" name="teremtes">{{ teremtes }}</textarea>
        <button>szerkesztése</button>
        <hr>
        <textarea type="text" name="fo_oldal">{{ fo_oldal }}</textarea>
        <button>szerkesztése</button>
        <hr>
        <textarea type="text" name="miatyank">{{ miatyank }}</textarea>
        <button>szerkesztése</button>
        <hr>
        <textarea type="text" name="tiz_parancsolat">{{ tiz_parancsolat }}</textarea>
        <button>szerkesztése</button>
        <hr>
        <textarea type="text" name="keletkezes">{{ keletkezes }}</textarea>
        <button>szerkesztése</button>
    </form>
</div>
<a href="/admin/log_out">Kijelentkezés</a>

{% endblock %}