{% extends 'admin/admin_base.html' %}
{% block title %}Ervinizmus - Bejelentkezés{% endblock %}
{% block hivovevalas_a%}{% endblock %}

{% block content %}



<div class="container-md">
    <div class="row">
        <div class="col">
            <form action="/admin/change_name" method="post">
                <h2>Felhasználónév megváltoztatása</h2>
                <input type="text" class="form-control" placeholder="Új felhasználónév"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="new_name">
                <button class="btn btn-secondary">Módosítás</button>
            </form>
        </div>
        <div class="col">
            <form action="/admin/change_password" method="post">
                <h2>Felhasználónév megváltoztatása</h2>
                <input type="password" class="form-control" placeholder="Régi jelszó" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="old_password">
                <input type="password" class="form-control" placeholder="Új jelszó" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="new_password">
                <button class="btn btn-secondary">Módosítás</button>
            </form>
        </div>
    </div>
</div>






<body>
    {{ error_message }}

</body>

{% endblock %}