{% extends 'admin/admin_base.html' %}
{% block title %}Admin - Hívők{% endblock %}
{% block hivovevalas_a%}{% endblock %}
{% block style %}
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="../static/admin.css">{% endblock %}

{% block content %}



<div class="container">
    <div class="row"><h1>Hívők kezelése</h1></div>
    <div class="row">
        <div class="col">
            <h2>Beragadt felhasználók</h2>
            <div class="dropdown">
                <form action="/admin/stuck_hivo">
                    <form action="/admin/del_pre_hivo" method="post">
                        <select class="form-select" aria-label="Default select example" name="username" method="GET" action="/admin/token">
                            <option selected value="0">-------------</option>
                            {% for i in name_in_pre_user_tb %}
                            <option value="{{i[0]}}">{{i[0]}}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-danger">Törlés</button>
                    </form>
                </form>
            </div>
        </div>
        <div class="col">
            <h2>Felhasználó törlése</h2>
            <div class="dropdown">
                <form action="/admin/del_hivo" method="post">
                    <select class="form-select" aria-label="Default select example" name="username" method="GET" action="/admin/token">
                        <option selected value="0">-------------</option>
                        {% for i in name_in_user_tb %}
                        <option value="{{i[0]}}">{{i[0]}}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-danger">Törlés</button>
                </form>
            </div>
        </div>
    </div>
</div>


    <div class="box">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div>
            {% for category, message in messages %}
            <p class="{{ category }}" style="font-size: medium;">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>

</div>

{% endblock %}