    {% extends 'base.html' %}
    {% block title %}Ervinizmus - Bejelentkezés{% endblock %}
    {% block hivovevalas_a%}{% endblock %}
    {% block style %} <link rel="stylesheet" href="../../static/login.css"> {% endblock %}
    {% block bejelentkezes_a %} class="active"{% endblock %}
    <link rel="stylesheet" href="../../static/style.css">
    {% block content %}

    <div class="kozep">
    <form method="post" action="/admin/login">
        <div class="login" id="login">
            
            <h1>Bejelentkezés: Admin</h1>
            <input type="text" name="username" placeholder="Felhasználónév" required><br>
            <input type="password" name="password" placeholder="Jelszó" required><br>
            <button type="submit">Bejelentkezés</button>
            <br>
            <br>
            <button onclick="location.href='/hivo/login_page'">Hívő vagyok</button>
            <br>
            <br>
            <button onClick="javascript:window.open('https://webmail.oregpreshaz.eu/', '_blank');" type="button">Email Bejelentkezés</button>
            <br>
            <br>
            <button onclick="location.href='/'" type="button">Vissza</button>
                
        </div>
    </form>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}



    {% endblock %}
