{% extends 'admin/admin_base.html' %}
{% block title %}Ervinizmus - Bejelentkezés{% endblock %}
{% block hivovevalas_a%}{% endblock %}

{% block content %}

Rövid url-ek:
<table class="table">
    <tr class="table__header">
        {% for header in heading %}
            <th class="table__cell">{{ header }}</th>
        {% endfor %}
    </tr>
    {% for row in data %}
    <tr class="table__row">
        {% for cell in row %}
            <td class="table__cell">{{ cell }}</td>
            
        {% endfor %}
        <td class="table__cell"><a href="/admin/del_url/'{{ row[1] }}'" style="color: red;">Törlés</a></td>
    </tr>
    
    {% endfor%}
</table>
<style>
    .table__row:nth-child(even){
        background-color: white;
        font-size: larger;
    }
    
    .table__row{
        font-size: larger;
    }
    
    .table{
        background-color: rgb(189, 255, 244);
        border: 1px solid black;
    }
    
    .table__header{
        text-align: left;
    }
    .table__cell{
        padding: 8px;
        border: 1px solid black;
    }
</style>

{% endblock %}