<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ervinizmus{% endblock %}</title>
    {% block style %} <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> {% endblock %}
    {% block js %} <script src="{{ url_for('static', filename='main.js') }}"></script> {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!--
    EBBE A FILE-BA NE NYÚLJ BELE!   
-->
<body>
    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Főoldal</a>
        <a href="/szentiras">Szentírás</a>
        <a href="/teremtestortenet">Teremtéstörténet</a>
        <a href="/zarandokhely">Zarándokhely</a>
        <a href="/hivovevalas">Hívő leszek</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
          <p class="navbar_line"></p>
          <p class="navbar_line"></p>
          <p class="navbar_line"></p>
        </a>
    </div>
    {% block content %}
    
    {% endblock %}
</body>
</html>
