{% extends 'base.html' %}
{% block title %}Ervinizmus - Felhasználási feltételek{% endblock %}
{% block content %}


<html class="teremtes">
    <div class="minden">
        <div class="header">
            <h1 class="ttcim">Felhasználási feltételek</h1>
        </div>
        <div class="szoveg">
            <p class="center">
                <ul>
                    <li>Elfogadom hogy az adataim egy postgreSQL adatbázisban vannak tárolva.</li>
                    <li>Az adatok törlését lehet kérelmezni (<a href="/elerhetosegek">itt</a>) </li>
                    <li>A személyes információkat <strong>nem</strong> tároljuk</li>
                    <li>Ha és amennyiben nem értenél egyett ezekkel a feltételekkel kérlek jelezz valamelyik fejlesztőnek: <a href="/elerhetosegek">itt</a></li>
                </ul>
            </p>
        </div>
    </div>
</html>

{% endblock %}