{% extends 'base.html' %}
{% block title %}Ervinizmus - Felhasználási feltételek{% endblock %}
{% block info_a%}class="active"{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/felh_felt.css">



<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Felhasználási feltételek
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote">
                            <p>
                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item">Elfogadom hogy az adataim egy postgreSQL adatbázisban vannak
                                    tárolva.</li>
                                <li class="list-group-item">Az adatok törlését lehet kérelmezni (<a
                                        href="/elerhetosegek">itt</a>) </li>
                                <li class="list-group-item">A személyes információkat <strong>nem</strong> tároljuk</li>
                                <li class="list-group-item">Ha és amennyiben nem értenél egyett ezekkel a feltételekkel
                                    kérlek jelezz valamelyik
                                    fejlesztőnek: <a href="/elerhetosegek">itt</a></li>
                            </ol>
                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Írta: <cite title="Source Title">Szerkesztőség</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    Szabályzat
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote">
                            <p>
                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item">Valós névvel regisztrálj!</li>
                                <li class="list-group-item">Ne csinálj viccet a weboldalból!</li>
                                <li class="list-group-item">
                                    Chat szabályzat:
                                    <ol class="list-group list-group-numbered">
                                        <li class="list-group-item">Ne káromkodj!</li>
                                        <li class="list-group-item">Ne szídj senkit!</li>
                                        <li class="list-group-item">Kultúráltan beszélgess!</li>
                                    </ol>
                                </li>
                            </ol>
                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Írta: <cite title="Source Title">Szerkesztőség</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>(A weboldal nem gúnyolásból vagy egyéb ilyen okokból jött lére, hanem csak a szórakoztatás céljából valósult
        meg!)</p>
</footer>

</html>
{% endblock %}