{% extends 'base.html' %}
{% block title %}Ervinizmus - Szentírás{% endblock %}
{% block szentiras_a%}class="active"{% endblock %}
{% block content %}

{% block style %}
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="../static/imatkozas.css">{% endblock %}
<div class="doboz">
    <div class="header">
        <h1 class="ttcim">Imátkozás</h1>
    </div>
    <div class="szoveg">
        <p class="center">
            <audio autoplay controls id="music">
                <source src="{{ url_for('static', filename='ervinizmus.mp3') }}" type="audio/mpeg">
            </audio>
            {% for resz in minden[0] %}
                <div class="box">
                    {{ resz }}
                    <br>
                    <br>
                </div>
                
            {% endfor %}

        </p>
    </div>
</div>
<script>
    function PlayMusic() {
    
      var play=document.getElementById("music");
      play.play();
    }
    
    $(document).ready(function(){
      setTimeout(PlayMusic,3000);
    })
        
</script>
{% endblock %}