{% extends 'base.html' %}
{% block title %}Ervinizmus{% endblock %}
{% block index_a%}class="active"{% endblock %}
{% block content %}

<link rel="stylesheet" href="../static/index.css">

{% block style %}
<link rel="stylesheet" href="../static/style.css">
{% endblock %}




    <div class="minden">
        <div class="header">
            <h1 class="ttcim">Ervinizmus</h1>
        </div>
        <div class="szoveg">
            <p class="center">
        
                {% for sor in fo_oldal_sorok %}
                    {{sor}} <br>
                {% endfor %}
                
            </p>
            
        </div>
        <br>
        
    </div>
    <div class="minden">
        <div class="szoveg">
            <p class="center" style="text-align: justify;">
                
                <h2> {{ keletkezes_sorok[0] }}</h2>
                {% for i in keletkezes_sorok %}
                    {{ i }} <br>
                {% endfor %}
                
            </p>
            
        </div>
    </div>
    <div class="hivok">
        <div class="szoveg">
            <p class="center">
        
                Hívők száma: {{ hivok_szama }}
            
            </p>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>


{% endblock %}