{% extends 'base.html' %}
{% block title %}Ervinizmus - Teremtéstörténet{% endblock %}
{% block teremtestortenet_a %} class="active" {% endblock %}
{% block style %}

<link rel="stylesheet" href="../static/style.css">{% endblock %}
{% block content %}
<html class="teremtes">
    <div class="minden">
        <div class="header">
            <h1 class="ttcim">A Teremtéstörténet</h1>
        </div>
        <div class="szoveg">
            <p class="center">
        
                {% for sor in teremtes_tortenet_sorok %}
                    {{sor}} <br>
                {% endfor %}
            
            </p>
        </div>
    </div>
</html>
{% endblock %}