{% extends 'base.html' %}
{% block title %}Ervinizmus - Teremtéstörténet{% endblock %}
{% block teremtestortenet_a %} class="active" {% endblock %}
{% block style %}

<link rel="stylesheet" href="../static/termtes.css">{% endblock %}
{% block content %}

<div class="minden">
    <div class="header">
        <h1 class="ttcim">A Teremtéstörténet</h1>
    </div>
    <div class="szoveg">
        <p class="center">
            <strong>Az első nap</strong>.Mielőtt még lett volna Microsoft, Linux vagy Apple, Ervin, a mi istenünk, már létezett. Egy gyönyörű pillanatban kitalálta, hogy megteremti a Linuxot. Ervin így szólt: "Legyen Ubuntu!" És a világ engedelmesen feltelepítette az Ubuntut. Ervin látta, hogy amit teremtett, az jó. Lett tehát az első nap. <br><br>

            <strong>A második napon</strong> Ervin megteremtette a Pythont. Ervin így szólt: "Legyen egy nyelv, amelyet minden értelmes lény hall és beszél!" És létrejött a Python. Lett tehát a második nap. <br><br>
            
            <strong>A harmadik napon</strong> Ervin megteremtette a felhasználói felületet. Ervin így szólt: "Legyen egy vizuálisan kezelhető terület, amelyet még a bolond ember is tud kezelni!" És létrejött a vizuális tér. Ervin látta, hogy amit teremtett, az szép és jó. Lett tehát a harmadik nap. <br><br>         
            <strong>A negyedik napon</strong> Ervin megteremtette a Thonny-t. Ervin így szólt: "Legyen egy tér, ahol a nyelvet lehet beszélni és olvasni!" És létrejött a Thonny. Lett tehát a negyedik nap. <br><br>
            
            <strong>Az ötödik napon</strong> Ervin megteremtette a felhasználókat. Ervin így szólt: "Legyenek élőlények, akik használják ezt a gyönyörű rendszert!" És lám, létrejöttek az élőlények változó IQ-szinttel. Lett tehát az ötödik nap. <br><br>
            <strong>A hatodik napon</strong> Ervin megteremtette az első technikusokat. Ervin így szólt: "Legyenek emberek, akik olyan képességekkel rendelkeznek, hogy uralják ezt a világot!" És létrejött az első admin, neve: "root". Lett tehát a hatodik nap. <br><br>
            
            <strong>A hetedik napon</strong> Ervin megpihent a foteljében és megszentelte ezt a napot. Látta azonban, hogy root nem boldogul egyedül, ezért teremtette neki "sudo"-t. Nem sokkal később Bill Gates megkísértette sudo-t, hogy Microsoft-fejlesztő legyen. Bill Gates így szólt: "Ha mellém állsz, erősebb lehetsz, mint Ervin!" Kit valamiért nem tudott ellenállni Bill Gates kísértésének, és Microsoft-fejlesztő lett. Később sudo, root-ot is átalakította Microsoft-fejlesztővé. <br><br>
            
            Ervin ezt látván így szólt: "Ti átkozottak! Nem mondtam meg, hogy a Microsoft nem jó? Mivel ezt tettétek, kitiltalak titeket az Ubuntu kertjéből! Ami pedig téged illet, Bill Gates, a Windows örökre átkozott és gyenge lesz. Büntetésedül a te szemed szenvedni fog a Windows 11-től!"</p>
    </div>
</div>
{% endblock %}