{% extends 'base.html' %}
{% block title %}Ervinizmus - Wikipédia{% endblock %}
{% block wiki_a %} class="active" {% endblock %}
{% block style %}
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="../static/teremtes.css">{% endblock %}
{% block content %}
<div class="doboz">
    <div class="header">
        <h1 class="ttcim">Wikipédia</h1>
    </div>
    <div class="szoveg">
        <p class="center">
        {% for sor in modulok %}
        <div class="box">
            {{ sor }}
            <br><br>
        </div>
        {% endfor %}

        </p>
    </div>
</div>
{% endblock %}